<launch>
  <arg name="machine" default="localhost"/>
  <include file="$(find mav_startup)/machine/$(arg machine).machine" />
    <node machine="$(arg machine)" ns="$(arg machine)" name="gps_meas" pkg="rtklib" type="str2str" clear_params="true" output="screen" respawn="true" args=" -in serial://ttyACM0:57600:8:n:1:off -out tcpsvr://:8600 -d 5000" >
    </node>
</launch>
