<launch>
  <arg name="machine" default="localhost"/>
  <include file="$(find mav_startup)/launch/$(arg machine).machine" />
  <group ns="$(arg machine)" clear_params="true">
    <node machine="$(arg machine)" name="fcu" pkg="asctec_hl_interface" type="hl_node" output="screen" >       
      <param name="frame_id" value="$(arg machine)/fcu" />
      <rosparam file="$(find mav_startup)/parameters/fcu_parameters.yaml" /> 
      <rosparam file="$(find mav_startup)/parameters/ssdk_parameters.yaml" />       
    </node>
    <node machine="$(arg machine)" name="waypoint_server" pkg="asctec_hl_interface" type="waypoint_server" output="screen" />
  </group>
</launch>
