<launch>
  <arg name="machine" default="localhost"/>
  <include file="$(find mav_startup)/machine/$(arg machine).machine" />
  <group ns="$(arg machine)" clear_params="true">
    <node machine="$(arg machine)" name="widemac_pub" pkg="sfly_widemac_com" type="widemac_pub" output="screen" respawn="true" >       
      <param name="port" value="/dev/ttyS3" />  
    </node> 
  </group>
</launch>


